 .dashboard-markdown {
    overflow: hidden;
  
    h4,
    h5 {
      font-weight: $font-weight-light;
    }
  
    h5 {
      color: $gray-heading;
    }
  
    h6 {
      font-weight: $font-weight-normal;
      font-size: $font-size-s;
    }
  
    .dashboard-component-chart-holder {
      overflow-y: auto;
      overflow-x: hidden;
    }
  
    .dashboard--editing & {
      cursor: move;
    }
  
    #brace-editor {
      border: none;
    }
  }
  
  /* maximize editing space */
  .dashboard-markdown--editing {
    .dashboard-component-chart-holder {
      .with-popover-menu--focused & {
        padding: 1px;
      }
    }
  }
  